<h3>Article</h3>

<ng-container *ngIf="item$ | async as item; else loading">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Référence</td>
        <td>{{item.ref}}</td>
      </tr>
      <tr>
        <td>Nom</td>
        <td>{{item.name}}</td>
      </tr>
      <tr>
        <td>Prix</td>
        <td>{{item.price}}</td>
      </tr>
      <tr>
        <td>Quantité</td>
        <td>{{item.quantity}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{item.articleTypeName}}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="input-group">
    <button class="btn btn-primary" type="button" (click)="edit(item.id)">Modifier</button>
    <button class="btn btn-danger" type="button" (click)="delete(item.id)">Supprimer</button>
  </div>
</ng-container>

<ng-template #loading>
  <h3>Loading...</h3>
</ng-template>

